<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Angular Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library --><script
  src="https://code.jquery.com/jquery-1.10.2.min.js"
  integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
  crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- <link rel="stylesheet" href="js/app.js"> -->
</head>
<body>
    <div class="example2" ng-controller="ExampleController">
        Name: <input ng-model="name" type="text" />
        <button ng-click="greet()">Greet</button>
        <button ng-click="window.alert('Should not see me')">Won't greet</button>
    </div>
    <br/>
    <br/>

    <!--cdfdsfsafad-->
    <!--cdfdsfsafad-->


    
    <button ng-click="clickMe($event)">Event</button>
    <p><code>$event</code>: <pre> {{$event | json}}</pre></p>
    <p><code>clickEvent</code>: <pre>{{clickEvent | json}}</pre></p>
</body>
</html>